.wrap {
    height: 50px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 12.5px;
    line-height: 15px;
    background-color: #fff;
    cursor: pointer;
}
.wrap:hover {
    background-color: #f0f2f5;
}

.photo {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-size: contain;
}

.content {
    margin-left: 44px;
}

.name,
.occupation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: 700;
    color: #42648b;
}

.occupation {
    margin-top: 4px;
    line-height: 14px;
    color: #656565;
}
