.list {
    max-height: 243px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll_sentinel {
    position: absolute;
    width: 1px;
    height: 1px;
}

.items_container {
    position: absolute;
    width: 100%;
    transform: translateY(-1px);
}

.item {
    position: absolute;
    width: 100%;
    border-top: 1px solid #e7e8ec;
}
.item:first-child {
    border-top-color: transparent;
}
.item__no_results {
    height: 50px;
    padding: 18px 15px 0;
    box-sizing: border-box;
    background: #fafbfc;
}
